@model LoginViewModel

<h2>Login</h2>

<form asp-action="Login" method="post">
    <label asp-for="CardNumber" class="form-label"></label>
    <input asp-for="CardNumber" class="form-control"/>
    <span asp-validation-for="CardNumber" class="text-danger"></span>
    <button type="submit" class="btn btn-outline-success">Login</button>
</form>
